@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Roboto&family=Roboto+Condensed:wght@400;700&family=Source+Sans+Pro&display=swap');

$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;
$RobotoCondensed: 'Roboto Condensed', sans-serif;
$SourceSansPro: 'Source Sans Pro', sans-serif;

$clr-neutral-100: #ffffff;
$clr-neutral-110: #f8f8f9;

$c-black: #1d1f22;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
label,
li {
  font-family: $Raleway;
  color: $c-black;
}

h1,
h2,
h3 {
  line-height: 160%;
}


h1 {
  font-weight: 400;
  font-size: 42px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 0;
}

a {
  text-decoration: none;
}

p {
  font-family: $Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
}

li {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

label {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: right;
  flex: none;
}

body {
  background-color: $clr-neutral-110;
  margin: 0 auto;
  max-width: 1200px;
}



nav {
  display: flex;
  text-transform: uppercase;

  .nav-end {
    display: flex;
    justify-content: flex-end;
    margin-inline: auto;
  }

  .currency-dropdown {
    .currency-dropdown-list {
      position: absolute;
      background-color: $clr-neutral-100;
      filter: drop-shadow(0 0.2rem 0.1rem rgba(0, 0, 0, 0.025));
      list-style: none;
      padding-inline-start: 0;

      span {
        padding-inline-start: .2rem;
      }

      & > * {
        padding-inline: 1rem;
        padding-block: .5rem;
      }
    }
  }

  & > * {
    margin-inline: 1rem;
  }
}

.category-title {
  text-transform: capitalize;
}


.products {
  display: grid;  

  gap: 2rem;

  img {
    object-fit: cover;
  }
}

.product {
  transition: 300ms ease-in-out;
  padding-block: 15px;
  padding-inline: 15px;

  h3 {
    margin-top: 1.5rem;
  }

  &:hover {
    background-color: $clr-neutral-100;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    transition: 300ms ease-in-out;
  }
}

.product-img-container {
  display: flex;
  flex-direction: row;

  .img-active {
    display: flex;
    justify-content: flex-end;
    width: 20rem;
    margin-left: 2rem;
  }
  
  .img-inactive {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 3rem;
  }
  
  .product-img {
    max-width: 20rem;
  }
}

@media (min-width: 600px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-img-home {
    width: clamp(5rem, 35vw, 18rem);
    height: clamp(5rem, 45vh, 18rem);
    display: flex;
    justify-self: center;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
   }
}

